%table.table.table-striped
  %thead
    %tr
    %th{width: "20%"}= I18n.t('payment.payment')
    %th{width: "10%"}= I18n.t('payment.init_amount')
    %th{width: "10%"}= I18n.t('record_type.income')
    %th{width: "10%"}= I18n.t('record_type.expense')
    %th{width: "10%"}= I18n.t('balance')
    %th{width: "10%"}= I18n.t('rate')
    %th{width: "10%"} #{@user.get_main_currency.currency_code}結餘
    %th{width: "10%"}
  %tbody
    - @payments.each do |payment|
      %tr
        %td
          = image_tag '/assets/' + @icon_path[payment.kind], width: "40px"
          = payment.payment_name
          (#{payment.display_currency_code(@user)})
        %td
          %span.text-success
            #{payment.display_currency_code(@user)}
            - init_amount = payment.init_amount
            %span.init_amount
              = init_amount
          
        %td
          %span.text-success
            #{payment.display_currency_code(@user)} 
            - income = payment.income
            = income
        %td
          %span.text-danger
            #{payment.display_currency_code(@user)}
            \-
            - expense = payment.expense
            = expense
        %td
          %span.text-success
            #{payment.display_currency_code(@user)} 
            = init_amount + income - expense
        %th
          1:
          - exchange_rate = payment.exchange_rate
          = exchange_rate
        %td
          %span.text-success
            #{@user.get_main_currency.currency_code}
            - if(payment.out_total == 1)
              %span
                = ((init_amount + income - expense) * exchange_rate).round(2)
            - else
              %span.remain
                = ((init_amount + income - expense) * exchange_rate).round(2)
        %td
          %button.btn.btn-xs.btn-success.btn-edit.edit_category
            = link_to "#a","data-toggle" => "modal", 'data-target' => "#myAccountModal", data:{kind:payment.kind,name: payment.payment_name, initial: 0, payment_id: payment.id, out_total: payment.out_total} do
              %span.glyphicon.glyphicon-pencil
              = I18n.t('edit')
          / %button.btn.btn-xs.btn-danger.btn-remove
          /   = link_to payment_path(payment), method: :delete, data: { confirm: 'Are you sure?' } do
          /     %span.glyphicon.glyphicon-remove