.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'
  
  .row
    .col-xs-12.col-sm-10
      .panel.panel-success
        .panel-heading
          %h3.panel-title= t('budget.overview')
        .panel-body
          .col-sm-5.col-xs-6
            %span.text-warning
              2014年1月
            %table.table.table-striped
              %tbody
                %tr
                  %td 預算
                  %td.text-success NT$ 100
                %tr
                  %td 支出
                  %td.text-danger NT$ 100
                %tr
                  %td 結餘
                  %td NT$ 100
          .col-sm-5.col-xs-6
            = image_tag "battery/battery100.png"


      .panel.panel-info
        .panel-heading
          %h3.panel-title 預算管理
        .panel-body
          .panel.panel-info
            .panel-body
              每月預算 NT$ 100
              = link_to "設定預算", "#a", class: "btn btn-primary", "data-toggle" => "modal", href: "#myBudgetModal"
          %table.table.table-striped
            %tbody
              %tr
                %td 每年預算
                %td.text-success NT$ 1200
              %tr
                %td 每週預算
                %td.text-danger NT$ 100
              %tr
                %td 每日預算
                %td NT$ 10
          .category-budget
            = check_box "budget", "category", {:checked => "checked"} 
            針對特定類別設定預算
          .category-budget-setting
            %table.table.table-striped
              %thead
                %tr
                  %th 類別
                  %th 預算
                  %th 支出
                  %th 結餘
                  %th 佔總預算比例
                  %th 概況
                  %th
              %tbody
                - @expense_category.each do |category|
                  %tr
                    %td
                      = image_tag category.photo_path, width: "50px"
                      = category.category
                    %td.text-success NT$ 100000
                    %td.text-danger NT$ 100
                    %td NT$ 100
                    %td 佔75%
                    %td= image_tag "battery/battery100.png", width: "50px"
                    %td
                      %button.btn.btn-xs.btn-success.btn-edit
                        = link_to "", "data-toggle" => "modal", href: "#myCategoryBudgetModal" do
                          %span.glyphicon.glyphicon-pencil
                          修改


#myBudgetModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4 設定每月預算
      .modal-body
        = form_tag budgets_path, class: "form-horizontal" do
          .form-group
            %label.col-sm-2.control-label 預算金額
            .col-sm-10
              = number_field_tag "budget","", class: "form-control",placeholder: "請輸入預算金額"
          .record_modal_footer
            = submit_tag "確定", class: "btn btn-primary"

#myCategoryBudgetModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4 設定類別每月預算
      .modal-body
        %h4 總預算: $10000
        %table.table.table-striped
          %thead
            %tr
              %th 類別
              %th 目前設定預算
              %th 本月支出
              %th 本月結餘
          %tbody
            %tr
              %td
                = image_tag "category_icon/fish.png"
                %span.category_name
                  餐飲食品
              %td.text-success NT$ 100000
              %td.text-danger NT$ 100
              %td NT$ 100


        = form_tag budgets_path, class: "form-horizontal" do
          = hidden_field_tag "total_budget", 10000
          .form-group
            %label.col-sm-2.control-label 預算金額
            .col-sm-10
              = number_field_tag "budget_amount","", class: "form-control",placeholder: "請輸入預算金額"
          或
          .form-group
            %label.col-sm-2.control-label 佔總預算百分比
            .col-sm-10
              = number_field_tag "budget_persent","", class: "form-control",placeholder: "請輸入預算百分比"
          .record_modal_footer
            = submit_tag "確定", class: "btn btn-primary"