%script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
:javascript
  Stripe.setPublishableKey('pk_test_dtpguOx1YYiqkh42MtzTlfT8');

.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .row.plans
    .col-xs-12.col-md-10
      .panel.panel-success
        .panel-body
          .row
            .col-md-3.col-md-offset-1
              .normal-plan
                = t('pro_month').html_safe
            .col-md-3
              .normal-plan
                = t('pro_annual').html_safe
            .col-md-3
              .preferred-plan
                = t('pro_no_expire').html_safe
        
          .row
            .col-md-12
              = form_tag upgrade_index_path, class: "form-horizontal", id: "payment-form" do |f|
                %fieldset.credit_card
                  .form-group
                    .col-sm-4.col-md-offset-1
                      %span.payment-errors.text-danger
                  .form-group
                    %label.col-sm-2.control-label #{t('charge.plan')}
                    .col-sm-4
                      %input#optionsExpenseRadio{:checked => "", :name => "optionsRadios", :type => "radio", :value => "month"}
                        = t('charge.monthly')
                      %br
                      %input#optionsIncomeRadio{:name => "optionsRadios", :type => "radio", :value => "year"}
                        = t('charge.annually')
                      %br
                      %input#optionsIncomeRadio{:name => "optionsRadios", :type => "radio", :value => "no_expire"}
                        = t('charge.no_expire')
                  .form-group
                    %label.col-sm-2.control-label(for="credit-card-number") #{t('charge.credit_card_num')}
                    .col-sm-3
                      %input.span3#credit-card-number(type="text" data-stripe="number")
                  .form-group
                    %label.col-sm-2.control-label(for="security-code") #{t('charge.security_code')}
                    .col-sm-3
                      %input.span3#security-code(type="text" data-stripe="cvc")
                  .form-group
                    %label.col-sm-2.control-label #{t('charge.expiration')}
                    .col-sm-3
                      = select_month(Date.today, {add_month_numbers: true},  class: 'span2', data: {stripe: "exp-month"})
                      = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 14}, class: 'span1', data: {stripe: "exp-year"})
                %fieldset.actions.control-group
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      = submit_tag t('submit'), class: 'btn btn-large btn-success payment-submit'