.row.plans
  .col-xs-12.col-md-12
    .panel.panel-success
      .panel-body
        .row
          .col-md-3.col-md-offset-4
            .preferred-plan
              = t('pro').html_safe
        .row
          .col-md-12.col-md-offset-3
            = form_tag upgrade_index_path(user: params[:user]), class: "form-horizontal", id: "payment-form" do |f|
              = hidden_field_tag "is_mobile_pro", params[:is_mobile_pro]
              = hidden_field_tag "locale", params[:locale]
              %fieldset.credit_card
                %span.payment-errors
                .form-group
                  %label.col-sm-2.control-label #{t('charge.plan')}
                  .col-sm-4
                    %input#optionsExpenseRadio{:checked => "", :name => "optionsRadios", :type => "radio", :value => "month"}
                      = t('charge.monthly')
                    %br
                    %input#optionsIncomeRadio{:name => "optionsRadios", :type => "radio", :value => "year"}
                      = t('charge.annually')
                    %br
                    %input#optionsIncomeRadio{:name => "optionsRadios", :type => "radio", :value => "no_expire"}
                      - if params[:is_mobile_pro]
                        = t('charge.no_expire_pro_user').html_safe
                      - else
                        = t('charge.no_expire')
                .form-group
                  %label.col-sm-2.control-label(for="credit-card-number") #{t('charge.credit_card_num')}
                  .col-sm-3
                    %input.span3#credit-card-number(type="text" data-stripe="number")
                .form-group
                  %label.col-sm-2.control-label(for="security-code") #{t('charge.security_code')}
                  .col-sm-3
                    %input.span3#security-code(type="text" data-stripe="cvc")
                .form-group
                  %label.col-sm-2.control-label #{t('charge.expiration')}
                  .col-sm-3
                    = select_month(Date.today, {add_month_numbers: true},  class: 'span2', data: {stripe: "exp-month"})
                    = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 14}, class: 'span1', data: {stripe: "exp-year"})
              %fieldset.actions.control-group
                .form-group
                  .col-sm-offset-2.col-sm-10
                    = submit_tag t('submit'), class: 'btn btn-large btn-success payment-submit'