.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path, class: "navbar-brand" do
      = image_tag "icon.png", width: "40px"
      Andromoney
      %span.text-danger.small Beta
  .collapse.navbar-collapse
    .pull-right
      %ul.nav.navbar-nav
        %li
          = link_to current_user.email, home_path
        %li
          = link_to message_account_path(1) do
            = t('message')
            - if(current_user.messages.not_read.size == 0)
              %span.badge.badge-success
                = current_user.messages.not_read.size
            - else
              %span.badge.badge-warning
                = current_user.messages.not_read.size
        %li.dropdown
          %a{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"} 
            =  t('setting.setting')
            %b.caret
          %ul.dropdown-menu{"role" => "menu"}
            %li
              = link_to t('setting.account_management'), edit_account_path(1)
              - currency = current_user.get_main_currency
              = link_to raw("<span>#{t('main_currency')}  </span><span>#{currency.currency_code}</span><div class='#{"flag_#{currency.flag_path[0..((currency.flag_path.index '.') - 1)].downcase.gsub /([ &()])/, '_'}"} flag_zoom'></div>"), :controller => 'setting', :action => 'edit'
        %li
          = link_to t('logout'), signout_path