.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path, class: "navbar-brand" do
      = image_tag "icon.png", width: "40px"
      Andromoney
      %span.text-danger.small Beta
  .collapse.navbar-collapse
    .pull-right
      %ul.nav.navbar-nav
        %li
          = link_to current_user.email, home_path
        %li
          = link_to message_account_path(1) do
            訊息
            - if(current_user.messages.not_read.size == 0)
              %span.badge.badge-success
                = current_user.messages.not_read.size
            - else
              %span.badge.badge-warning
                = current_user.messages.not_read.size

        %li
          = link_to "登出", signout_path
