.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        = image_tag "icon.png", width: "40px"
        Andromoney
        %span.text-danger.small Beta

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to t('home'), root_path
        %li
          = link_to t('download'), download_path
        %li
          = link_to t('price'), pricing_path
        %li
          = link_to t('about'), about_path
      .pull-right
        %ul.nav.navbar-nav
          - if current_user
            %li
              = link_to current_user.email, home_path
            %li
              = link_to t('logout'), signout_path
          - else
            %li
              = link_to t('login'), "/auth/google_login"
