#sidebar.col-xs-6.col-sm-2.sidebar-offcanvas{:role => "navigation"}
  .row
    = link_to t('sidebar.report'), reports_path, class: "list-group-item"
    = link_to t('sidebar.calendar'), calendar_path, class: "list-group-item"
    = link_to t('sidebar.record'), records_path, class: "list-group-item"
    = link_to t('category.category'), categories_path, class: "list-group-item"
    = link_to t('payment.payment'), payments_path, class: "list-group-item"
    / = link_to "預算", budgets_path, class: "list-group-item"
    / = link_to "帳戶管理", payments_path, class: "list-group-item"
    / = link_to "商家管理", "", class: "list-group-item"
    / = link_to "專案管理", "", class: "list-group-item"    