%nav.landing.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "landing navbar-brand" do
        = image_tag("/landing/logo.png")
        = t('landing.navbar.andromoney')
    #navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to t('landing.navbar.feature'), root_path(anchor: "feature")
        %li
          = link_to t('landing.navbar.announcement'), announcements_path
        %li
          = link_to t('landing.navbar.contact_us'), root_path(anchor: "contact")
        %li
          = link_to t('landing.navbar.sign_in'), "/auth/google_login"
