%br
.row.text-center
  .col-xs-10.col-sm-9.col-md-offset-1
    %ul#myTab.nav.nav-tabs.nav-justified
      %li.active
        = link_to "#{image_tag('android-icon.jpeg')}Android".html_safe,"#android", :data => {:toggle=>"tab"}
      %li
        = link_to "#{image_tag('apple-icon.png')}iPhone".html_safe,"#iphone", :data => {:toggle=>"tab"}
      %li
        = link_to "#{image_tag('icon-50.png')}AndroMoney 雲端平台".html_safe,"#web", :data => {:toggle=>"tab"}
    %br
    #myTabContent.tab-content
      #android.tab-pane.fade.in.active
        .row.featurette
          .col-md-3.col-md-offset-3
            = image_tag('android_index.png',class: "featurette-image img-responsive")
          .col-md-5
            %h2.text-danger
              榮獲Google Play 優質效率排行工具之理財推薦APP
            %br
            .pull-left
              知名網站推薦：
            %br
            %br
            %span.text-success
              PUNAPP :
            【AndroMoney】雙平台資產管理記帳APP，好評如何得來
            %br
            %span.text-success
              電腦玩物 : 
            記帳 AndroMoney 免費記帳軟體貼心好用Android記帳本
            %br
            %span.text-success
              重灌狂人 : 
            超好用的記帳 APP AndroMoney 收支分類清楚、圖表分析、直接匯出 excel…
            %br
            %span.text-success
              挨踢路人甲 : 
            相當符合我胃口，所以介紹大家試試。
            %br
            %span.text-success
              PDA魔王部落 : 
            讓人眼睛一亮的莫過於 AndroMoney，不僅美工精美，操作起來順手易學，很快地就擄獲魔王的心。
            %br
            %span.text-success
              Apphome-好玩的app : 
            聰明記帳幫手-理財、記帳 AndroMoney
            %br
            %span.text-success
              Freegroup 免費資源網路社群 : 
            [Android] AndroMoney 簡單又有質感的快速記帳，還可透過 Excel 匯入匯出！
            %br
            %br
            %p.lead 
              = link_to(image_tag('badge_android.png'),"")

          
      #iphone.tab-pane.fade
        .row.featurette
          .col-md-3.col-md-offset-3
            = image_tag('android_index.png',class: "featurette-image img-responsive")
          .col-md-5
            %h2.text-danger
              iPhone 必備APP
            %table.table.table-striped
              %tbody
                %tr
                  %td 單筆記帳
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 預算管理
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 消費類別管理
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 多帳戶功能
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 不同貨幣
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 統計圖表分析
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 多平台同步
                  %td
                    %span.glyphicon.glyphicon-ok
            %p.lead 
              = link_to(image_tag('badge_ios.png'),"")
      #web.tab-pane.fade
        .row.featurette
          .col-md-3.col-md-offset-3
            = image_tag('android_index.png',class: "featurette-image img-responsive")
          .col-md-5
            %h2.text-danger
              最完善的雲端記帳服務
            %table.table.table-striped
              %tbody
                %tr
                  %td 單筆記帳
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 預算管理
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 消費類別管理
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 多帳戶功能
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 不同貨幣
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 統計圖表分析
                  %td
                    %span.glyphicon.glyphicon-ok
                %tr
                  %td 多平台同步
                  %td
                    %span.glyphicon.glyphicon-ok
            %p.lead 
              = link_to("立即登入#{image_tag('icon.png')}".html_safe,"")