%br
.row.text-center
  .col-xs-10.col-sm-9.col-md-offset-1
    %ul#myTab.nav.nav-tabs.nav-justified
      %li.active
        = link_to "#{image_tag('android-icon.png')}Android".html_safe,"#android", :data => {:toggle=>"tab"}
      %li
        = link_to "#{image_tag('apple-icon.png')}iPhone".html_safe,"#iphone", :data => {:toggle=>"tab"}
      %li
        = link_to "#{image_tag('icon-50.png')}AndroMoney #{t('cloud')}".html_safe,"#web", :data => {:toggle=>"tab"}
    %br
    #myTabContent.tab-content
      #android.tab-pane.fade.in.active
        .row.featurette
          .col-md-3.col-md-offset-3
            = image_tag('android_index.png',class: "featurette-image img-responsive")
          .col-md-5
            = t('android').html_safe
            %br
            %br
            %p.lead 
              = link_to(image_tag('badge_android.png'),"https://play.google.com/store/apps/details?id=com.kpmoney.android")

          
      #iphone.tab-pane.fade
        .row.featurette
          .col-md-3.col-md-offset-3
            = image_tag('android_index.png',class: "featurette-image img-responsive")
          .col-md-5
            = t('ios').html_safe
            %p.lead 
              = link_to(image_tag('badge_ios.png'),"https://itunes.apple.com/tw/app/andromoney-lite/id715504756?mt=8")
      #web.tab-pane.fade
        .row.featurette
          .col-md-3.col-md-offset-3
            = image_tag('android_index.png',class: "featurette-image img-responsive")
          .col-md-5
            = t('web').html_safe
            %p.lead 
              = link_to("#{image_tag('icon.png')}#{t('login')}".html_safe,"/auth/google_login")