#myCarousel.carousel.slide{"data-ride" => "carousel"}
  .carousel-inner
    .item.active
      .carousel-caption
        = image_tag "icon.png"
        = t('feature_multiple_platform').html_safe
        %p
          = link_to t('download'), download_path, class: "btn btn-lg btn-primary"


.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      = image_tag("invoice.png")
      = t('feture_record').html_safe

    / /.col-lg-4
    .col-lg-4
      = image_tag("stock.png")
      = t('feature_analysis').html_safe

    / /.col-lg-4
    .col-lg-4
      = image_tag("coins.png")
      = t('feature_asset').html_safe
    / /.col-lg-4
  / /.row
  / START THE FEATURETTES
  %hr.featurette-divider
    .row.featurette
      .col-md-7
        = t('feature_track').html_safe

      .col-md-5
        = link_to image_path('android_index.png'), data: {gallery: ""}, title: "AndroMoney_Index", rel: "group" do
          = image_tag('android_index.png',class: "featurette-image img-responsive", alt: "AndroMoney_Index")
    %h3.text-success #{t('more_pics')}
    #links.clearfix
      = link_to image_path('andromoney_1.png'), data: {gallery: ""}, title: "AndroMoney_1", rel: "group" do
        = image_tag('andromoney_1.png', alt: "AndroMoney_1")
      = link_to image_path('andromoney_2.png'), data: {gallery: ""}, title: "AndroMoney_2", rel: "group" do
        = image_tag('andromoney_2.png', alt: "AndroMoney_2")
      = link_to image_path('andromoney_3.png'), data: {gallery: ""}, title: "AndroMoney_3", rel: "group" do
        = image_tag('andromoney_3.png', alt: "AndroMoney_3")
      = link_to image_path('andromoney_4.png'), data: {gallery: ""}, title: "AndroMoney_4", rel: "group" do
        = image_tag('andromoney_4.png', alt: "AndroMoney_4")
  %hr.featurette-divider
    .row.featurette
      .col-md-5
        = image_tag('CrossPlatform.png',class: "featurette-image img-responsive")
      .col-md-7
        = t('feature_platform').html_safe
  %hr.featurette-divider
    .row.featurette
      .col-md-7
        = t('feature_protect').html_safe
      .col-md-5
        = image_tag('shield.png',class: "featurette-image img-responsive")
  %hr.featurette-divider
    .row.featurette
      .col-md-5
        = image_tag('thumb_up.png',class: "featurette-image img-responsive")
      .col-md-7
        %h2.text-primary
          = t('quality')
          .small
            = t('recommend')
        = t('android').html_safe
        
  %hr.featurette-divider
    / /END THE FEATURETTES
    / FOOTER
    %footer
      %p.pull-right
        %a{:href => "#"} #{t('back_to_top')}