%section.landing#hero
  .slogan
    %h1 Know your money more to make better life!
    .download
      = link_to "http://play.google.com/store/apps/details?id=com.kpmoney.android", target: '_blank' do
        = image_tag("/landing/badges/android.en.png", :class => "landing badge-image")
      = link_to "http://itunes.apple.com/us/app/li-cai-bang-shou-andromoney/id679044544?l=en&mt=8", target: '_blank' do
        = image_tag("/landing/badges/ios.en.svg", :class => "landing badge-image")
%section.landing#feature
  .container
    .row
      .col-sm-6
        .feature-explaination.text-right
          %h1 Track Daily Expense
          %p
            No matter using Android or iPhone,
            %br you can track every expense, income, transfer record.
          %h1 Budget management
          %p
            You can set mnthly budget according to your category.
            %br
            Budget exceed alert help you control your expense.
      .col-sm-6
        = image_tag 'screenshots/screenshot01.en.png'
    .row
      .col-sm-6
        = image_tag 'screenshots/screenshot02.en.png'
      .col-sm-6
        .feature-explaination
          %h1 Realtime Expense Report
          %p
            Find the highest expense, average expense.
            %br
            Get the statistic report(pie chart, bar chart, curve chart....)

          %h1 Category management
          %p
            You can add, delete or modify the category according to your need.
            %br
            (Expense, Income, Transfer)
    .row
      .col-sm-6.text-right
        .feature-explaination
          %h1 Account management
          %p
            Multiple account can be set for you.
            %br
            Expense also can be tag to differenct project.
            %br
            You can know your asset totally.
          %h1 Multiple Currencies
          %p
            You can use different currencies outside to billing on abroad.
            %br
            Currency rates can be synced with google currency.

      .col-sm-6
        = image_tag 'screenshots/screenshot03.en.png'
%section.landing#exclusive
  .container
    .row
      .col-md-4
        .exclusive-image
          = image_tag '/landing/cross_platform.png'
        .exclusive-title
          %h2
            Syncd on different platform
            %br
            %small Android, iPhone, Web
        .exclusive-explaination.cross_platform
          %p No matter using Android, iPad or desktop, you can download AndroMoney mobile app, or using AndroMoney web cloud service. Tracking your expense and syncing the data with mobile and web.
      .col-md-4
        .exclusive-image
          = image_tag '/landing/shield.png'
        .exclusive-title
          %h2
            Data security
            %br
            %small PIN code to open app, and your financial data will always safe.
        .exclusive-explaination
          %p Even if your device has a meltdown, your stuff is always safe and can be restored.
      .col-md-4
        .exclusive-image
          = image_tag '/landing/thumb_up.png'
        .exclusive-title
          %h2
            Loyal
            %br
            %small
        .exclusive-explaination.thumb_up
          %p
            2013 Google Play effeciency tools
            %br
            2014 Goolge Play 30 best apps


%section.landing#contact
  .container
    .row
      .col-md-3
        .download
          = link_to "http://play.google.com/store/apps/details?id=com.kpmoney.android", target: '_blank' do
            = image_tag("/landing/badges/android.en.png", :class => "landing badge-image")
          = link_to "http://itunes.apple.com/us/app/li-cai-bang-shou-andromoney/id679044544?l=en&mt=8", target: '_blank' do
            = image_tag("/landing/badges/ios.en.svg", :class => "landing badge-image")
      .col-md-9
        %h1
          AndroMoney
          %br
        AndroMoney is a personal finance tool for use on your mobile phone,
        %br
        By using this tool, we hope you can better manage your wealth.
        %br
        %br
        We focus on:
        %br
        %span.text-success
          1.Ease of use: keep it intuitive to operate
        %br
        %span.text-success
          2.Powerful:daily accounting, managing categories, or even drawing detail reports, AndroMoney can easily manage it.
        %br
        %br
        We hope AndroMoney will be the best personal finance tool on Android  iOS  Web!
        %br
        If you have any problems about how to use it or ideas about how to improve it, feel free to email us. We appreciate your feedback!
        %br
        %br
        Email:
        = mail_to "service@andromoney.com", "service@andromoney.com"
%footer.landing
  %h4 © 2015 AndroMoney

:javascript
  $(window).scroll(function() {
    var height = $(window).scrollTop();
    if(height  > 1) {
      $("nav").css('background', 'white')
      $(".navbar-brand").css('color', '#777777')
      $(".navbar-nav > li > a").css('color', '#777777')
    } else {
      $("nav").css('background', 'transparent')
      $(".navbar-brand").css('color', 'white')
      $(".navbar-nav > li > a").css('color', 'white')
    }
  });
