.jumbotron#about
  .container
    %h1
      理財幫手 AndroMoney
    %p
      %br/
      AndroMoney 是行動電話上的個人理財服務工具，
      %br/
      希望透過這個工具，可以良好的管理個人的財富。
      %br/
      %br/
      我們軟體的發展方展方向是：
      %br/
      %span.text-success
        1.簡單易用，在操作上是十分直覺的
      %br/
      %span.text-success
        2.功能強大，不論單純的記帳，或者想要管理不同的帳戶、類別，甚至是繪成圖表，也都可以輕易的辦到。
      %br/
      %br/
      將來我們會陸續地加入其它功能，使其更為完整
      %br/
      如同軟體的名稱，我們期許AndroMoney 能成為最好用，最受歡迎的個人財務軟體
      %br/
      如果有任何使用上的問題，十分歡迎利用 email 跟我們連絡，謝謝！
      %br
      %br
      聯絡信箱:
      = mail_to "service@andromoney.com", "service@andromoney.com"
.container.marketing
  .row
    .col-lg-4
      = image_tag("invoice.png")
      %h2 記錄生活消費
      %p 不論是Android 或是 iPhone 用戶都可以透過AndroMoney手機APP, 輕鬆地記錄下每一筆花費，轉帳，收入與支出
    .col-lg-4
      = image_tag("stock.png")
      %h2 即時消費分析
      %p 找出最高消費，平均花費，以利使用者分析花費支出，並可以動態繪製統計圖，圓餅圖(花費分佈)，趨勢圖(花費趨勢)之功能，對圖表進行互動式操作。
    .col-lg-4
      = image_tag("coins.png")
      %h2 掌握資產狀況
      %p 提供多帳戶功能，可以設定不同的戶頭，也可透過專案管理，可以了解自己在每個項目的花費流向，確實掌握自己資產
  / START THE FEATURETTES
  %hr.featurette-divider
    .row.featurette
      .col-md-7
        %h2.text-primary
          記帳功能完整
          .small
            單筆記帳, 預算管理, 消費類別管理, 多帳戶功能, 不同貨幣, 統計圖表分析
        %p.lead
          AndroMoney 是行動電話上的個人理財服務工具，希望透過這個工具，可以良好的管理個人的財富。
          %br/
          %br/
          我們軟體的發展方展方向是：
          %br/
          1.簡單易用，在操作上是十分直覺的
          %br/
          2.功能強大，不論單純的記帳，或者想要管理不同的帳戶、類別，甚至是繪成圖表，也都可以輕易的辦到。
      .col-md-5
        = link_to image_path('android_index.png'), data: {gallery: ""}, title: "AndroMoney_Index", rel: "group" do
          = image_tag('android_index.png',class: "featurette-image img-responsive", alt: "AndroMoney_Index")
    %h3.text-success 更多圖示
    #links.clearfix
      = link_to image_path('andromoney_1.png'), data: {gallery: ""}, title: "AndroMoney_1", rel: "group" do
        = image_tag('andromoney_1.png', alt: "AndroMoney_1")
      = link_to image_path('andromoney_2.png'), data: {gallery: ""}, title: "AndroMoney_2", rel: "group" do
        = image_tag('andromoney_2.png', alt: "AndroMoney_2")
      = link_to image_path('andromoney_3.png'), data: {gallery: ""}, title: "AndroMoney_3", rel: "group" do
        = image_tag('andromoney_3.png', alt: "AndroMoney_3")
      = link_to image_path('andromoney_4.png'), data: {gallery: ""}, title: "AndroMoney_4", rel: "group" do
        = image_tag('andromoney_4.png', alt: "AndroMoney_4")
  %hr.featurette-divider
    .row.featurette
      .col-md-5
        = image_tag('CrossPlatform.png',class: "featurette-image img-responsive")
      .col-md-7
        %h2.text-primary
          多平台同步
          .small
            支援 Android, iPhone, Web
        %p.lead
          使用者常有多個不同的裝置, 如 Android 手機, iPad 甚至是桌上型電腦, 都可以下載 AndroMoney APP, 或使用 AndroMoeny 雲端服務, 並利用帳戶同步的功能, 達到多平台都可記帳
  %hr.featurette-divider
    .row.featurette
      .col-md-7
        %h2.text-primary
          保護使用者資料
          .small
            手機端備份, 雲端備份, 電腦檔案匯出入
        %p.lead
          常有使用者在使用其它記帳軟體時, 發生資料遺失, 辛苦記帳的資料付諸流水, AndroMoney為保護使用者的資料, 開發備份功能, 也提供使用者將檔案匯出入, 使用者不用再煩腦資料問題
      .col-md-5
        = image_tag('shield.png',class: "featurette-image img-responsive")
  %hr.featurette-divider
    .row.featurette
      .col-md-5
        = image_tag('thumb_up.png',class: "featurette-image img-responsive")
      .col-md-7
        %h2.text-primary
          品質保證
          .small
            榮獲多方肯定
        %b.text-danger
          榮獲Google Play 首頁之效率排行工具之理財APP。
        %br/
        %b.text-danger
          入圍App Next 2013應用程式創新大賽之理財工具。
        %br/
        %b.text-danger
          【Android App達人評測網】精選之─AndroMoney(記帳理財)
        %br/
        知名網站推薦：
        %br/
        .text-success
          PUNAPP :
        【AndroMoney】雙平台資產管理記帳APP，好評如何得來
        %br/
        .text-success
          電腦玩物 :
        記帳 AndroMoney 免費記帳軟體貼心好用Android記帳本
        %br/
        .text-success
          重灌狂人 :
        超好用的記帳 APP] AndroMoney 收支分類清楚、圖表分析、直接匯出 excel…
        %br/
        .text-success
          挨踢路人甲 :
        相當符合我胃口，所以介紹大家試試。
        %br/
        .text-success
          PDA魔王部落 :
        讓人眼睛一亮的莫過於 AndroMoney，不僅美工精美，操作起來順手易學，很快地就擄獲魔王的心。
        %br/
        .text-success
          Apphome-好玩的app :
        聰明記帳幫手-理財、記帳 AndroMoney
        %br/
        .text-success
          Freegroup 免費資源網路社群 :
        [Android] AndroMoney 簡單又有質感的快速記帳，還可透過 Excel 匯入匯出！
  %hr.featurette-divider
  .row.text-center#download
    %ul#myTab.nav.nav-tabs.nav-justified
      %li.active
        = link_to "#{image_tag('android-icon.png')}Android".html_safe,"#android", :data => {:toggle=>"tab"}
      %li
        = link_to "#{image_tag('apple-icon.png')}iPhone".html_safe,"#iphone", :data => {:toggle=>"tab"}
      %li
        = link_to "#{image_tag('icon-50.png')}AndroMoney 雲端平台".html_safe,"#web", :data => {:toggle=>"tab"}
      %br
      #myTabContent.tab-content
        #android.tab-pane.fade.in.active
          .row.featurette
            .col-md-3.col-md-offset-3
              = image_tag('android_index.png',class: "featurette-image img-responsive")
            .col-md-5
              %b.text-danger
                榮獲Google Play 首頁之效率排行工具之理財APP。
              %br/
              %b.text-danger
                入圍App Next 2013應用程式創新大賽之理財工具。
              %br/
              %b.text-danger
                【Android App達人評測網】精選之─AndroMoney(記帳理財)
              %br/
              知名網站推薦：
              %br/
              .text-success
                PUNAPP :
              【AndroMoney】雙平台資產管理記帳APP，好評如何得來
              %br/
              .text-success
                電腦玩物 :
              記帳 AndroMoney 免費記帳軟體貼心好用Android記帳本
              %br/
              .text-success
                重灌狂人 :
              超好用的記帳 APP] AndroMoney 收支分類清楚、圖表分析、直接匯出 excel…
              %br/
              .text-success
                挨踢路人甲 :
              相當符合我胃口，所以介紹大家試試。
              %br/
              .text-success
                PDA魔王部落 :
              讓人眼睛一亮的莫過於 AndroMoney，不僅美工精美，操作起來順手易學，很快地就擄獲魔王的心。
              %br/
              .text-success
                Apphome-好玩的app :
              聰明記帳幫手-理財、記帳 AndroMoney
              %br/
              .text-success
                Freegroup 免費資源網路社群 :
              [Android] AndroMoney 簡單又有質感的快速記帳，還可透過 Excel 匯入匯出！
              %br
              %br
              %br
              %p.lead
                = link_to(image_tag('badge_android.png'),"https://play.google.com/store/apps/details?id=com.kpmoney.android")

        #iphone.tab-pane.fade
          .row.featurette
            .col-md-3.col-md-offset-3
              = image_tag('android_index.png',class: "featurette-image img-responsive")
            .col-md-5
              %h2.text-danger
                iPhone 必備APP
              %table.table.table-striped
                %tbody
                  %tr
                    %td 單筆記帳
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 預算管理
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 消費類別管理
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 多帳戶功能
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 不同貨幣
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 統計圖表分析
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 多平台同步
                    %td
                      %span.glyphicon.glyphicon-ok
              %p.lead
                = link_to(image_tag('badge_ios.png'),"https://itunes.apple.com/tw/app/li-cai-bang-shou-andromoney/id679044544?l=zh&mt=8")
        #web.tab-pane.fade
          .row.featurette
            .col-md-3.col-md-offset-3
              = image_tag('android_index.png',class: "featurette-image img-responsive")
            .col-md-5
              %h2.text-danger
                最完善的雲端記帳服務
              %table.table.table-striped
                %tbody
                  %tr
                    %td 單筆記帳
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 預算管理
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 消費類別管理
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 多帳戶功能
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 不同貨幣
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 統計圖表分析
                    %td
                      %span.glyphicon.glyphicon-ok
                  %tr
                    %td 多平台同步
                    %td
                      %span.glyphicon.glyphicon-ok
              %p.lead
                = link_to("#{image_tag('icon.png')} Login".html_safe,"/auth/google_login")
