= form_for @record do |f|
  -# the 1st line
  .form-group
    .input-group.record-remark
      %span.input-group-addon
        = image_tag("currency_sign_dollar.png", width: "15px")
        #{t('amount')}
      = f.number_field(:mount, class: "form-control", step: 'any')
      
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
        #{t('report.date')}
      = f.text_field(:date, {id: "datetimepicker_record", class: "form-control" })

  -# the 2nd line
  .form-group
    .record
      .row
        .record-box.box-1
          %span.label.label-primary.select-label
            %span.glyphicon.glyphicon-th-large
            #{t('category.main_category')}

          = f.select(:category, @expense_category.collect {|p| [ p.category , p.hash_key, :"data-image" => asset_path(p.photo_path) ]}, {selected: default_selected(@record.category,  @expense_category.first.hash_key)}, { class: "category-select-with-icon", id: "expense-category", size: 5 })

          = f.select(:category, @income_category.collect {|p| [ p.category , p.hash_key, :"data-image" => asset_path(p.photo_path) ]}, {selected: default_selected(@record.category,  @income_category.first.hash_key)}, { class: "category-select-with-icon", id: "income-category",  size: 5 })

          = f.select(:category, @transfer_category.collect {|p| [ p.category , p.hash_key, :"data-image" => asset_path(p.photo_path) ]}, {selected: default_selected(@record.category,  @transfer_category.first.hash_key)}, { class: "category-select-with-icon", id: "transfer-category", size: 5 })

        .record-box.box-2
          %span.label.label-primary.select-label
            %span.glyphicon.glyphicon-list-alt
            #{t('subcategory.subcategory')}

          = f.grouped_collection_select(:subcategory, @expense_category, :get_subcategories, :category, :hash_key, :subcategory, {selected: default_selected(@record.subcategory)}, {class: 'subcategory-select-with-icon', id: "expense-subcategory", size: 6 })

          = f.grouped_collection_select(:subcategory, @income_category, :get_subcategories, :category, :hash_key, :subcategory, {selected: default_selected(@record.subcategory)}, {class: 'subcategory-select-with-icon', id: "income-subcategory", size: 6 })

          = f.grouped_collection_select(:subcategory, @transfer_category, :get_subcategories, :category, :hash_key, :subcategory, {selected: default_selected(@record.subcategory)}, {class: 'subcategory-select-with-icon', id: "transfer-subcategory", size: 6 })

        .record-box.box-3
          %span.label.label-primary.select-label.nontrans-label
            %span.glyphicon.glyphicon-share
            #{t('payment.payment')}
          %span.label.label-primary.select-label.transfer-label
            %span.glyphicon.glyphicon-log-out
            #{t('transfer.out')}
          = f.select(:out_payment, @payments.collect {|p| [ "#{p.currency_code}-#{p.payment_name}", p.hash_key, :"data-image" => asset_path(payment_icon(p.kind)) ]}, {selected: default_selected(@record.out_payment || @record.in_payment, @payments.first.hash_key)}, {class: 'select-with-icon', size: 5 })

        .record-box.box-4
          %span.label.label-primary.select-label.nontrans-label
            %span.glyphicon.glyphicon-check
            #{t('payee.payee')}
          = f.select(:payee, @payees.collect {|p| [ p.payee_name, p.hash_key ]}, {selected: default_selected(@record.payee), include_blank: "  -  -  -" }, {class: 'receiver-select-with-icon', id: "nontrans-receiver", size: 5 })
          %span.label.label-primary.select-label.transfer-label
            %span.glyphicon.glyphicon-log-in
            #{t('transfer.in')}
          = f.select(:in_payment, @payments.collect {|p| [ "#{p.currency_code}-#{p.payment_name}", p.hash_key, :"data-image" => asset_path(payment_icon(p.kind)) ]}, {selected: default_selected(@record.in_payment, @payments.second.hash_key)}, {class: 'receiver-select-with-icon', id: "transfer-receiver", size: 5 })

        .record-box.box-5
          %span.label.label-primary.select-label
            %span.glyphicon.glyphicon-book
            #{t('project.project')}
          = f.select(:project, @projects.collect {|p| [ p.project_name, p.hash_key]}, {selected: default_selected(@record.project), include_blank: "  -  -  -"}, {class: 'select-with-icon', size: 5 })

  -# the 3rd line: remark
  .form-group.record
    .input-group.record-remark
      %span.input-group-addon
        %span.glyphicon.glyphicon-align-left
        #{t('note')}
      = f.text_area :remark, class: 'form-control'

  -# submit button
  .pull-right
    %br
    -#= f.submit t('confirm_add'), class: "btn btn-primary btn-lg"
    = f.button t('save_and_add_another_one'), class: "btn btn-success btn-lg", name: "submit_type", value: "to_new", id: "button_to_new"
    = f.button t('save_and_back_to_the_list'), class: "btn btn-info btn-lg", name: "submit_type", value: "to_list", id: "button_to_list"