.recordForm.clearfix
  = form_for @record, url: records_path(@record, month_from_now: params[:month_from_now]) do |f|
    .form-group
      -# the 1st line
      .input-group
        %span.input-group-addon
          = image_tag("currency_sign_dollar.png", width: "15px")
          #{t('amount')}
        = f.number_field(:mount, class: "form-control", :step => 'any')
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
          #{t('report.date')}
        = f.text_field(:date, {id: "datepicker", readonly: true , class: "form-control", data: {behaviour: "datepicker"}, value: Time.now.strftime("%Y/%m/%d")})

    -# the 2nd line
    %div.container-fluid
      %div.row.record
        %div.col-md-3
          %span.label.label-primary.select-label
            %span.glyphicon.glyphicon-th-large
            #{t('category.main_category')}
          = f.select(:category, @expense_category.collect {|p| [ p.category , p.hash_key, :"data-icon" => asset_path(p.photo_path) ]}, {selected: @expense_category.first.hash_key}, {class: 'select-with-icon', :"multiple" => "multiple", size: 6 })

        %div.col-md-2
          %span.label.label-primary.select-label
            %span.glyphicon.glyphicon-list-alt
            #{t('subcategory.subcategory')}
          = f.grouped_collection_select(:sub_category, @expense_category, :subcategories, :category, :hash_key, :subcategory, {selected: @subcategories.first.hash_key}, {class: 'form-control', size: 6 })

        %div.col-md-3
          %span.label.label-default.select-label
            %span.glyphicon.glyphicon-share
            #{t('payment.payment')}
          = f.select(:out_payment, @payments.collect {|p| [ p.payment_name + " (" + p.currency_code + ")", p.payment_name ]}, {selected: @payments.first.payment_name}, {class: 'select-with-icon', :"multiple" => "multiple", size: 6 })

        %div.col-md-2
          %span.label.label-primary.select-label
            %span.glyphicon.glyphicon-check
            #{t('payee.payee')}
          = f.select(:payee, @payees.collect {|p| [ p.payee_name, p.payee_name ]}, {}, {class: 'select-with-icon', :"multiple" => "multiple", size: 6 })

        %div.col-md-2
          %span.label.label-primary.select-label
            %span.glyphicon.glyphicon-book
            #{t('project.project')}
          = f.select(:project, @projects.collect {|p| [ p.project_name, p.project_name]}, {}, {class: 'select-with-icon', :"multiple" => "multiple", size: 6 })

    -# the 3rd line: remark
    .form-group
      .input-group
        %span.input-group-addon
          %span.glyphicon.glyphicon-align-left
          #{t('note')}
        = f.text_area :remark, class: 'form-control'

    -# submit button
    .pull-right
      %br
      = f.submit t('confirm_add'), class: "btn btn-primary btn-lg"

:javascript
  $('.select-with-icon').wSelect();