%td
  = image_tag record.record_category.photo_path, width: "40px"
  = "[#{record.record_category.category}]#{record.record_subcategory.subcategory}"
%td
  = record.currency_code
  %span
    = record.mount
%td= record.date.strftime("%Y/%m/%d")
%td
  - if( record.out_payment.present? && record.in_payment.present?)
    = "#{record.record_out_payment.payment_name} » #{record.record_in_payment.payment_name}"
  - elsif record.record_out_payment
    = record.record_out_payment.payment_name
  - elsif
    = record.record_in_payment.payment_name
  = t('every_day') if record.record_period && record.record_period.period_type == 0
  = t('every_week') if record.record_period && record.record_period.period_type == 1
  = t('every_month') if record.record_period && record.record_period.period_type == 2
  = t('every_year')  if record.record_period && record.record_period.period_type == 3
%td
  = record.record_project.project_name if record.record_project
%td
  = record.record_payee.payee_name if record.record_payee
%td.record-remark
  = record.remark
%td
  %button.btn.btn-xs.btn-success.btn-edit
    - if( record.out_payment.present? && record.in_payment.present?)
      = link_to record_transfer_edit_path(record) do
        %span.glyphicon.glyphicon-pencil
        #{t('edit')}
    - else
      = link_to edit_record_path(record) do
        %span.glyphicon.glyphicon-pencil
        #{t('edit')}
  %button.btn.btn-xs.btn-danger.btn-remove
    = link_to record_path(record, month_from_now: params[:month_from_now]), method: :delete, data: { confirm: t('confirm_q') } do
      %span.glyphicon.glyphicon-remove

