.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .col-xs-12.col-sm-10
    .row
      .pull-left
        = link_to new_record_path(month_from_now: params[:month_from_now]), class: "btn btn-primary btn-lg add_new" do
          %span.glyphicon.glyphicon-plus
          = t('record.add') 
      .btn-group.col-lg-6.ml-nav
        = link_to t('last_month'), records_path(month_from_now: params[:month_from_now].to_i - 1), class: "btn btn-primary btn-lg"
        = link_to t('next_month'), records_path(month_from_now: params[:month_from_now].to_i + 1), class: "btn btn-primary btn-lg"
    .row  
      .module
        .module-header
          %h4= I18n.l(Date.current + params[:month_from_now].to_i.month, format: :month)
        .module-content.table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th
                  = sortable("category",t('category.category')) 
                %th 
                  = sortable("mount",t('amount')) 
                %th 
                  = sortable("date",t('report.date'))
                %th 
                  = sortable("payment",t('payment.payment'))
                %th 
                  = sortable("project",t('project.project'))
                %th 
                  = sortable("payee",t('payee.payee'))
                %th 
                  = sortable("remark",t('note'))
                %th
            %tbody
              - @records.each do |record|
                - if( record.category )
                  - if( record.record_out_payment && record.record_in_payment)
                    %tr.item-transactions.success
                      = render 'index_record', record: record
                  - elsif record.record_out_payment
                    %tr.item-transactions.warning
                      = render 'index_record', record: record
                  - elsif record.record_in_payment
                    %tr.item-transactions.danger
                      = render 'index_record', record: record
    .row
      .pull-left
        = link_to new_record_path(month_from_now: params[:month_from_now]), class: "btn btn-primary btn-lg add_new" do
          %span.glyphicon.glyphicon-plus
          = t('record.add')  
      .btn-group.col-lg-6.ml-nav
        = link_to t('last_month'), records_path(month_from_now: params[:month_from_now].to_i - 1), class: "btn btn-primary btn-lg"
        = link_to t('next_month'), records_path(month_from_now: params[:month_from_now].to_i + 1), class: "btn btn-primary btn-lg"

