.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .col-xs-12.col-sm-10
    .row
      .pull-left
        = link_to new_record_path(month_from_now: params[:month_from_now]), class: "btn btn-primary btn-lg add_new" do
          %span.glyphicon.glyphicon-plus
          新增一筆 
      .btn-group.col-lg-3.ml-nav
        = link_to "«上個月", records_path(month_from_now: params[:month_from_now].to_i - 1), class: "btn btn-primary btn-lg"
        = link_to "下個月»", records_path(month_from_now: params[:month_from_now].to_i + 1), class: "btn btn-primary btn-lg"
    .row  
      .module
        .module-header
          %h4= I18n.l(Date.current + params[:month_from_now].to_i.month, format: :month)
        .module-content.table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th
                  = sortable("category","類別") 
                %th 
                  = sortable("mount","金額") 
                %th 
                  = sortable("date","日期")
                %th 
                  = sortable("payment","帳戶")
                %th 
                  = sortable("project","專案")
                %th 
                  = sortable("payee","商家")
                %th 
                  = sortable("remark","備註")
                %th
            %tbody
              - @records.each do |record|
                - if( record.record_out_payment && record.record_in_payment)
                  %tr.item-transactions.success
                    = render 'record', record: record
                - elsif record.record_out_payment
                  %tr.item-transactions.warning
                    = render 'record', record: record
                - elsif record.record_in_payment
                  %tr.item-transactions.danger
                    = render 'record', record: record
    .row
      .pull-left
        = link_to new_record_path(month_from_now: params[:month_from_now]), class: "btn btn-primary btn-lg add_new" do
          %span.glyphicon.glyphicon-plus
          新增一筆 
      .btn-group.col-lg-3.ml-nav
        = link_to "«上個月", records_path(month_from_now: params[:month_from_now].to_i - 1), class: "btn btn-primary btn-lg"
        = link_to "下個月»", records_path(month_from_now: params[:month_from_now].to_i + 1), class: "btn btn-primary btn-lg"

