.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .col-xs-12.col-sm-9
    %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#incomeTab"} 支出
      %li
        %a{"data-toggle" => "tab", :href => "#expenseTab"} 收入

    .row
      = form_for records_path(@record, month_from_now: params[:month_from_now]) do |f|
        .input-group
          %span.input-group-addon
            = image_tag("currency_sign_dollar.png", width: "15px")
          = f.text_field(:mount, {placeholder: "金額", class: "form-control"})
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
          = f.text_field(:date, {id: "datepicker", class: "form-control", data: {behaviour: "datepicker"}, value: Time.now.strftime("%m/%d/%Y")})
        %br
        = f.hidden_field :category
        = f.hidden_field :sub_category
        = f.hidden_field :project
        = f.hidden_field :payee
        = f.hidden_field :in_payment
        = f.hidden_field :out_payment
        %br

      %h4 主類別
      #my-tab-content.tab-content
        #incomeTab.mltab-type.tab-pane.active.in{"data-type" => "income"}
          %table.table.table-bordered
            %tbody.main_category
              %tr
                %td.active
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
              %tr
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
        #expenseTab.mltab-type.tab-pane{"data-type" => "expense"}
          %table.table.table-bordered.category-table
            %tbody.main_category
              %tr
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
              %tr
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
              %tr
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary

      %h4 子類別
      %table.table.table-bordered.category-table
        %tbody.sub_category
          %tr
            %td.active
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
          %tr
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
          %tr
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary      
      %h4 商家
      = link_to "", "data-toggle" => "modal", 'data-target' => "#myStoreModal", class: "btn btn-primary btn-lg" do
        星巴客
      %h4 專案
      = link_to "", "data-toggle" => "modal", 'data-target' => "#myProjectModal", class: "btn btn-primary btn-lg" do
        選擇專案
      %br
      %br
      .input-group
      %h4 填寫備註
      = text_area_tag :remark, nil, class: 'form-control'
      .pull-right
        %br
        = submit_tag "確定", class: "btn btn-primary btn-lg"

#myStoreModal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4 選擇商家
      .modal-body
        %table.table.table-bordered.category-table
          %tbody.sub_category
            %tr
              %td.active
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary
              %td
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary
              %td
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary
            %tr
              %td
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary
              %td
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary
              %td
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary

#myProjectModal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4 選擇專案
      .modal-body
        %table.table.table-bordered.category-table
          %tbody.sub_category
            %tr
              %td.active
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary
              %td
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary
              %td
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary
            %tr
              %td
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary
              %td
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary
              %td
                .category
                  = image_tag "category_icon/basketball.png", width: "40px"
                  %br
                    Salary

:javascript
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker();
  })