.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .col-xs-12.col-sm-10
    .row
      %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
        %li.active
          %a{id: "expenseLink","data-toggle" => "tab", :href => "#expenseTab"} #{t('record_type.expense')}
        %li
          %a{id: "incomeLink","data-toggle" => "tab", :href => "#incomeTab"} #{t('record_type.income')}
        %li
          %a{id: "transferLink","data-toggle" => "tab", :href => ""} #{t('record_type.transfer')}

      .row
        = render 'new_record_form'


:javascript
  $(function () {
    $('#datetimepicker_report').datetimepicker({
      format: 'YYYY/MM/DD-HH:mm A'
    });
  });