.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .col-xs-12.col-sm-9
    %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#incomeTab"} 支出
      %li
        %a{"data-toggle" => "tab", :href => "#orange"} 收入
      %li
        %a{"data-toggle" => "tab", :href => "#yellow"} 轉帳
    .row
      = form_for record_path(@record, month_from_now: params[:month_from_now]) do |f|
        .input-group
          %span.input-group-addon
            = image_tag("currency_sign_dollar.png", width: "15px")
          = f.text_field(:mount, {placeholder: "金額", class: ".form-control"})
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
          = f.text_field(:date, {id: "datepicker", class: "form-control", data: {behaviour: "datepicker"}, value: Time.now.strftime("%m/%d/%Y")})
        %br
        .input-group
          %span.input-group-addon
            %span.glyphicon.glyphicon-pencil
          %input.form-control{:name => "ML_note", :placeholder => "輸入備註...", :type => "text"}
          %span.input-group-addon
            %span.glyphicon.glyphicon-user
          .input-group-btn.usergroup
            = current_user.email
        %br
      / %form{:action => "#"}
        / .input-group
        /   %span.input-group-addon
        /     = image_tag("currency_sign_dollar.png", width: "15px")
        /   %input.form-control{:name => "ML_value", :placeholder => "金額", :type => "text"}
        /     %span.input-group-addon
        /       %span.glyphicon.glyphicon-calendar
        /     %input#datepicker.form-control{"data-behaviour" => "datepicker", :type => "text", :placeholder => "01/02/2014"}
        / %br
        / .input-group
        /   %span.input-group-addon
        /     %span.glyphicon.glyphicon-pencil
        /   %input.form-control{:name => "ML_note", :placeholder => "輸入備註...", :type => "text"}
        /     %span.input-group-addon
        /       %span.glyphicon.glyphicon-user
        /     .input-group-btn.usergroup
        /       %button.btn.btn-default.dropdown-toggle.btn-value{"data-toggle" => "dropdown", :type => "button"}
        /         = current_user.email
        / %br
      %h4 主類別
      #my-tab-content.tab-content
        #incomeTab.mltab-type.tab-pane.fade{"data-type" => "income"}
          %table.table.table-bordered
            %tbody
              %tr
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
              %tr
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
        #expenseTab.mltab-type.tab-pane.fade.active.in{"data-type" => "expense"}
          %table.table.table-bordered.category-table
            %tbody
              %tr
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
              %tr
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
              %tr
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
                %td
                  .category
                    = image_tag "category_icon/basketball.png", width: "40px"
                    %br
                      Salary
        #orange.tab-pane
          %h1 Orange
          %p orange orange orange orange orange
        #yellow.tab-pane
          %h1 Yellow
          %p yellow yellow yellow yellow yellow

      %h4 子類別
      %table.table.table-bordered.category-table
        %tbody
          %tr
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
          %tr
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
          %tr
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary
            %td
              .category
                = image_tag "category_icon/basketball.png", width: "40px"
                %br
                  Salary      
      %h4 商家
      = link_to new_record_path, class: "btn btn-primary btn-lg" do
        星巴客
      %h4 專案
      = link_to new_record_path, class: "btn btn-primary btn-lg" do
        選擇專案
      %br
      %br
      %h4 填寫備註
      = text_area_tag :remark, nil, class: 'form-control'
      .pull-right
        %br
        = submit_tag "確定", class: "btn btn-primary btn-lg"