.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .row
    .col-xs-12.col-sm-9
      %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
        %li.active
          %a{id: "transferLink","data-toggle" => "tab", :href => ""} #{t('record_type.transfer')}

      .row
        .transferForm.clearfix
          = form_for @record, url: record_transfer_update_path(@record, month_from_now: params[:month_from_now]) do |f|
            .input-group
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
                #{t('report.date')}
              = f.text_field(:date, {id: "datepicker", readonly:true, class: "form-control", data: {behaviour: "datepicker"}, value: @record.date.strftime("%Y/%m/%d")})
            %br  
            .input-group
              %span.input-group-addon
                = image_tag("currency_sign_dollar.png", width: "15px")
                #{t('amount')}
              = f.number_field(:mount, class: "form-control", :step => 'any')
              - if @record.record_in_payment.currency_code == @record.record_out_payment.currency_code
                %span.input-group-addon.hide.in_amout
                  %span.glyphicon.glyphicon-arrow-right
                = f.number_field(:in_amount, class: "form-control hide in_amout", :step => 'any')
              - else
                %span.input-group-addon.in_amout
                  %span.glyphicon.glyphicon-arrow-right
                = f.number_field(:in_amount, class: "form-control in_amout", :step => 'any')
              
            %br
            .input-group
              %span.input-group-addon
                %span.glyphicon.glyphicon-book
                #{t('payment.payment')}
              = f.text_field(:out_payment, {class: "form-control", "data-toggle" => "modal", 'data-target' => "#myOutPaymentModal", value: "#{@record.record_out_payment.payment_name}(#{@record.record_out_payment.currency_code})", id: "transfer_out_payment", "currency-code" => @record.record_out_payment.currency_code})
              %span.input-group-addon
                %span.glyphicon.glyphicon-arrow-right
              = f.text_field(:in_payment, {class: "form-control", "data-toggle" => "modal", 'data-target' => "#myInPaymentModal", value: "#{@record.record_in_payment.payment_name}(#{@record.record_in_payment.currency_code})", id: "transfer_in_payment","currency-code" => @record.record_in_payment.currency_code})
            
            / %br
            / .input-group
            /   %span.input-group-addon
            /     = image_tag("currency_sign_dollar.png", width: "15px")
            /     手續費
            /   = f.number_field(:fee, {class: "form-control", :step => 'any'})

            %br
            .input-group
              %span.input-group-addon
                %span.glyphicon.glyphicon-book
                #{t('project.project')}
              - if @record.project.present?
                = f.text_field(:project, {class: "form-control", "data-toggle" => "modal", 'data-target' => "#myProjectModal",value: @record.record_project.project_name})
              -else
                = f.text_field(:project, {class: "form-control", "data-toggle" => "modal", 'data-target' => "#myProjectModal"})
                
            = f.hidden_field :category, value: @transfer_category[0][0].hash_key, id: "transfer_category"
            = f.hidden_field :subcategory, value: @transfer_subcategories[0][0].hash_key, id: "transfer_subcategory"

            %br
            %h4 #{t('category.main_category')}
            .mltab-type.tab-pane.active.in{"data-type" => "income"}
              %table.table.table-bordered
                %tbody.transfer_main_category
                  - @transfer_category.each_with_index do |category_group,i|
                    %tr
                      - category_group.each_with_index do |category,j|
                        - if(category.hash_key == @record.category)
                          %td{data: {category_id: category.hash_key, category_name: category.category}, class: "warning"}
                            .category
                              = image_tag category.photo_path, width: "40px"
                              %br
                              = category.category
                        - else
                          %td{data: {category_id: category.hash_key, category_name: category.category}}
                            .category
                              = image_tag category.photo_path, width: "40px"
                              %br
                              = category.category
                      - (1..3-category_group.size).each do |i|
                        %td
              %h4 #{t('subcategory.subcategory')}
              %table.table.table-bordered.category-table
                %tbody.subcategory.transfer_category
                  = render 'subcategories', subcategories: @transfer_subcategories
            %h4 #{t('note')}
            = f.text_area :remark, class: 'form-control'
            .pull-right
              %br
              = f.submit t('confirm_edit'), class: "btn btn-primary btn-lg"

#myInPaymentModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4 #{t('payment.choose')}
      .modal-body
        %table.table.table-bordered.category-table
          %tbody.inaccount
            - @payments.each_with_index do |payment_group,i|
              %tr
                - payment_group.each_with_index do |payment,j|
                  - if(payment.hash_key == @record.in_payment)
                    %td{data: {payment_id: payment.id, payment_name: "#{payment.payment_name}(#{payment.currency_code})", currency_code: payment.currency_code}, class: "warning"}
                      .category
                        - icon_path = ["payment_icon/cash.png","payment_icon/card.png","payment_icon/bank.png"]
                        = image_tag icon_path[payment.kind], width: "40px"
                        %br
                        = "#{payment.payment_name}(#{payment.currency_code})"
                  - else
                    %td{data: {payment_id: payment.id, payment_name: "#{payment.payment_name}(#{payment.currency_code})",currency_code: payment.currency_code}}
                      .category
                        - icon_path = ["payment_icon/cash.png","payment_icon/card.png","payment_icon/bank.png"]
                        = image_tag icon_path[payment.kind], width: "40px"
                        %br
                        = "#{payment.payment_name}(#{payment.currency_code})"


#myOutPaymentModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4 #{t('payment.choose')}
      .modal-body
        %table.table.table-bordered.category-table
          %tbody.outaccount
            - @payments.each_with_index do |payment_group,i|
              %tr
                - payment_group.each_with_index do |payment,j|
                  - if(payment.hash_key == @record.out_payment)
                    %td{data: {payment_id: payment.id, payment_name: "#{payment.payment_name}(#{payment.currency_code})",currency_code: payment.currency_code}, class: "warning"}
                      .category
                        - icon_path = ["payment_icon/cash.png","payment_icon/card.png","payment_icon/bank.png"]
                        = image_tag icon_path[payment.kind], width: "40px"
                        %br
                        = "#{payment.payment_name}(#{payment.currency_code})"
                  - else
                    %td{data: {payment_id: payment.id, payment_name: "#{payment.payment_name}(#{payment.currency_code})", currency_code: payment.currency_code}}
                      .category
                        - icon_path = ["payment_icon/cash.png","payment_icon/card.png","payment_icon/bank.png"]
                        = image_tag icon_path[payment.kind], width: "40px"
                        %br
                        = "#{payment.payment_name}(#{payment.currency_code})"


#myProjectModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4 #{t('project.choose')}
      .modal-body
        %table.table.table-bordered.category-table
          %tbody.project
            - @projects.each do |project_group|
              %tr
                - project_group.each do |project|  
                  %td{data: {project_id: project.id, project_name: project.project_name}}
                    .category
                      = image_tag "project.png", width: "40px"
                      %br
                      = project.project_name
        .record_modal_footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button", id: "project-dismiss"} #{t('cancel')}


:javascript
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
    format: "yyyy/mm/dd",
    autoclose: true
  });
  })