- icon_path = ["payment_icon/cash.png","payment_icon/card.png","payment_icon/bank.png"]
.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .row
    .col-xs-12.col-sm-10
      = link_to "#a","data-toggle" => "modal", 'data-target' => "#myNewAccountModal", class: "btn btn-primary btn-lg add_new" do
        %span.glyphicon.glyphicon-plus
        = t('payment.add')
      .row
        .panel.panel-success
          .panel-heading
            .panel-title
              = t('payment.overview')
              %small.text-danger= t('payment.include')
          .panel-body
            .col-sm-6
              .content_chart1
                %p 
                  %table.table.table-striped
                    %tbody
                      %tr
                        %td= t('payment.total_income')
                        %td
                          %span#total_income.money_info.text-success 0
                      %tr
                        %td= t('payment.liability')
                        %td
                          %span#total_expense.money_info.text-danger 0
                      %tr
                        %td= t('balance')
                        %td
                          %span#total_remain.money_info.text-success 0
      .row
        .module-content.table-responsive
          = cell(:payment).(:show, current_user, icon_path)

#myAccountModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4= t('payment.edit')
      .modal-body

        = form_tag payment_path("edit"),method: "put", class: "form-horizontal" do
          .form-group
            %label.col-sm-2.control-label= t('category.category')
            .col-sm-10
              = select_tag "payment[kind]", options_for_select([[t('payment.cash'), 0], [t('payment.credit_card'), 1],[t('payment.bank'), 2]], 0)
              = image_tag icon_path[0], id: "payment_modal_pic",width: "40px",data:{pic_0: image_path("payment_icon/cash.png"), pic_1: image_path("payment_icon/card.png"), pic_2: image_path("payment_icon/bank.png")}
          .form-group
            %label.col-sm-2.control-label{:for => "payment_payment_name"} #{t('name')}
            .col-sm-10
              = text_field_tag "payment[payment_name]","", class: "form-control",placeholder: t('category.placeholder')
          .form-group
            %label.col-sm-2.control-label{:for => "payment_payment_name"} #{t('payment.init_amount')}
            .col-sm-10
              = text_field_tag "initial_amount","", class: "form-control",placeholder: t('payment.amount_placeholder')
          = hidden_field_tag "payment_id"
          .record_modal_footer
            = submit_tag t('confirm_edit'), class: "btn btn-primary"


#myNewAccountModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4= t('payment.add')
      .modal-body

        = form_tag payments_path, class: "form-horizontal" do
          .form-group
            %label.col-sm-2.control-label= t('category.category')
            .col-sm-10
              = select_tag "payment[kind]", options_for_select([[t('payment.cash'), 0], [t('payment.credit_card'), 1],[t('payment.bank'), 2]], 0)
              = image_tag icon_path[0], id: "payment_modal_pic",width: "40px",data:{pic_0: image_path("payment_icon/cash.png"), pic_1: image_path("payment_icon/card.png"), pic_2: image_path("payment_icon/bank.png")}
          .form-group
            %label.col-sm-2.control-label{:for => "payment_payment_name"} #{t('name')}
            .col-sm-10
              = text_field_tag "payment[payment_name]","", class: "form-control",placeholder: t('category.placeholder')
          .form-group
            %label.col-sm-2.control-label{:for => "payment_payment_name"} #{t('payment.init_amount')}
            .col-sm-10
              = text_field_tag "initial_amount","", class: "form-control",placeholder: t('payment.amount_placeholder')
          .record_modal_footer
            = submit_tag t('confirm_add'), class: "btn btn-primary"