.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .row
    .col-xs-12.col-sm-9
      %header
        %h3= t('category.add')
      = form_tag category_path(@category), method: "put" do
        %table.table.category_edit_table
          %thead
            %tr
              %th= t('category.type')
              %th= t('category.name')
              %th= t('category.pic')
          %tbody
            %tr
              %td
                - cate_hash = {20=> t('record_type.expense'), 10=> t('record_type.income'),30=> t('record_type.transfer')}
                = cate_hash[@category.type]
              %td
                = text_field_tag "category[category]", @category.category,placeholder: t('category.placeholder')
              %td
                = link_to "","data-toggle" => "modal", href: "#myNewCategoryModal" do
                  = image_tag @category.photo_path, width: "40px", id: "category_pic"
                  = t('category.pic_notice')
                = hidden_field_tag "category[photo_path]", @category.photo_path
        %table.table.category_edit_table
          %thead
            %tr
              %th= t('subcategory.num')
              %th= t('subcategory.name')
              %th
          %tbody
            - @subcategories.each_with_index do |subcategory,i|
              %tr
                %td= i + 1
                %td= text_field_tag "subcategorys[][subcategory]", subcategory.subcategory,placeholder: t('category.placeholder')
                = hidden_field_tag "subcategorys[][subcategory_id]", subcategory.id
                %td
            %tr
              %td= link_to t('subcategory.add'),"#a", class: "btn btn-default", add_id: @subcategories.size + 1, id: "add_subcategory"
              %td
              %td

            

        .pull-right
          = submit_tag t('confirm_edit'), class: "btn btn-primary btn-lg"

#myNewCategoryModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} &times;
        %h4= t('category.choose_pic')
      .modal-body
        %table.table.table-bordered.category-table
          %tbody
            - @images.each_with_index do |image_group,i|
              %tr
                - image_group.each_with_index do |image,j|
                  -if image.split('/').last == @category.photo_path.split('/').last
                    %td{data:{file: "category_icon/#{image.split('/').last}"}, class: "selected"}
                      .category
                        = image_tag "category_icon/#{image.split('/').last}", width: "50px"
                  - else
                    %td{data:{file: "category_icon/#{image.split('/').last}"}}
                      .category
                        = image_tag "category_icon/#{image.split('/').last}", width: "50px"
                - (1..8-image_group.size).each do |i|
                  %td
