.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .row
    .col-xs-12.col-sm-9
      %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
        %li.active
          %a{id: "expenseLink","data-toggle" => "tab", :href => "#expenseTab"} 支出
        %li
          %a{id: "incomeLink","data-toggle" => "tab", :href => "#incomeTab"} 收入
        %li
          %a{id: "transferLink","data-toggle" => "tab", :href => "#transferTab"} 轉帳

      .row
        = link_to new_category_path, class: "btn btn-primary btn-lg add_new" do
          %span.glyphicon.glyphicon-plus
          新增主類別
      .row
        #my-tab-content.tab-content
          #expenseTab.mltab-type.tab-pane.active.in{"data-type" => "income"}
            %table.table.table-striped
              %thead
                %tr
                  %th 類別
                  %th 名稱
                  %th 圖片
                  %th
              %tbody
                - @expense_category.each_with_index do |category,i|
                  %tr#category-index{data: {category_id: category.hash_key, category_name: category.category}}
                    %td 支出
                    %td #{category.category}
                    %td
                      = image_tag category.photo_path, width: "40px"
                    %td
                      %button.btn.btn-xs.btn-success.btn-edit
                        = link_to edit_category_path(category) do
                          %span.glyphicon.glyphicon-pencil
                          修改
                      %button.btn.btn-xs.btn-danger.btn-remove
                        = link_to category_path(category), method: :delete, data: { confirm: 'Are you sure?' } do
                          %span.glyphicon.glyphicon-remove

          #incomeTab.mltab-type.tab-pane{"data-type" => "expense"}
            %table.table.table-striped
              %thead
                %tr
                  %th 類別
                  %th 名稱
                  %th 圖片
                  %th
              %tbody
                - @income_category.each_with_index do |category,i|
                  %tr#category-index{data: {category_id: category.hash_key, category_name: category.category}}
                    %td 支出
                    %td #{category.category}
                    %td
                      = image_tag category.photo_path, width: "40px"
                    %td
                      %button.btn.btn-xs.btn-success.btn-edit
                        = link_to edit_category_path(category) do
                          %span.glyphicon.glyphicon-pencil
                          修改
                      %button.btn.btn-xs.btn-danger.btn-remove
                        = link_to category_path(category), method: :delete, data: { confirm: 'Are you sure?' } do
                          %span.glyphicon.glyphicon-remove

          #transferTab.mltab-type.tab-pane{"data-type" => "expense"}
            %table.table.table-striped
              %thead
                %tr
                  %th 類別
                  %th 名稱
                  %th 圖片
                  %th
              %tbody
                - @transfer_category.each_with_index do |category,i|
                  %tr#category-index{data: {category_id: category.hash_key, category_name: category.category}}
                    %td 支出
                    %td #{category.category}
                    %td
                      = image_tag category.photo_path, width: "40px"
                    %td
                      %button.btn.btn-xs.btn-success.btn-edit
                        = link_to edit_category_path(category) do
                          %span.glyphicon.glyphicon-pencil
                          修改
                      %button.btn.btn-xs.btn-danger.btn-remove
                        = link_to category_path(category), method: :delete, data: { confirm: 'Are you sure?' } do
                          %span.glyphicon.glyphicon-remove


