%script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  $(function() {
    $('#report_form').submit();
  });

.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .row
    .col-xs-12.col-sm-10
      .btn-group
        = link_to t('last_month'), reports_path(month_from_now: params[:month_from_now].to_i - 1), class: "btn btn-primary btn-lg"
        = link_to I18n.l(Date.current + params[:month_from_now].to_i.month, format: :month), reports_path(month_from_now: 0), class: "btn btn-primary btn-lg"
        = link_to t('next_month'), reports_path(month_from_now: params[:month_from_now].to_i + 1), class: "btn btn-primary btn-lg"
      .row
        .col-sm-12.report
          #chart_div_line

        %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
          %li.report_link.active
            %a{id: "categoryLink","data-toggle" => "tab", :href => "#categoryTab", data: {value: "category"}} #{t('category.category')}
          %li.report_link
            %a{id: "paymentLink","data-toggle" => "tab", :href => "#paymentTab", data: {value: "payment"}} #{t('payment.payment')}
          %li.report_link
            %a{id: "projectLink","data-toggle" => "tab", :href => "#projectTab", data: {value: "project"}} #{t('project.project')}
          %li.report_link
            %a{id: "payeeLink","data-toggle" => "tab", :href => "#payeeTab", data: {value: "payee"}} #{t('payee.payee')}
        .row
          .col-sm-6.report
            #piechart
          .col-sm-6.report
            #chart_div
          .col-sm-12.no_data.hide
            %p.text-center
              = t('no_data')

      .panel.panel-success
        .panel-heading
          %h3.panel-title= t('filter')
        .panel-body
          = form_for "report", url: reports_path,html: {id: "report_form"}, :remote => true do |f|
            %table.table
              %tbody
                %tr
                  %td= t('payment.payment')
                  %td
                    - @payments.each do |payment|
                      = check_box "payment", payment.hash_key, {:checked => "checked"} 
                      = payment.payment_name
                %tr
                  %td= t('project.project')
                  %td
                    - @projects.each do |project|
                      = check_box "project", project.hash_key, {:checked => "checked"} 
                      = project.project_name
                %tr
                  %td= t('payee.payee')
                  %td
                    - @payees.each do |payee|
                      = check_box "payee", payee.hash_key, {:checked => "checked"} 
                      = payee.payee_name
                %tr
                  %td= t('category.category')
                  %td.category_option
                    %input#optionsExpenseRadio{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}
                      #{t('category.expense_cat')}
                    %input#optionsIncomeRadio{:name => "optionsRadios", :type => "radio", :value => "option2"}
                      #{t('category.income_cat')}
                    .category_checkboxs
                      - @expense_categories.each do |category|
                        = check_box "category", category.hash_key, {:checked => "checked"} 
                        = category.category
            = f.hidden_field "type", value: "category"
            = hidden_field_tag "month_from_now", params[:month_from_now]
            .row
            = f.submit t('query'), class: "btn btn-default"
      
.loading_modal 