%script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  $(function() {
    $('#report_form').submit();
  });

.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar'

  .row
    .col-xs-12.col-sm-10
      .btn-group
        = link_to "«上個月", home_path(month_from_now: params[:month_from_now].to_i - 1), class: "btn btn-primary btn-lg"
        .btn.btn-primary.btn-lg
          February 2014
        = link_to "下個月»", home_path(month_from_now: params[:month_from_now].to_i + 1), class: "btn btn-primary btn-lg"
      .row
        %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
          %li.report_link.active
            %a{id: "categoryLink","data-toggle" => "tab", :href => "#categoryTab", data: {value: "category"}} 類別
          %li.report_link
            %a{id: "paymentLink","data-toggle" => "tab", :href => "#paymentTab", data: {value: "payment"}} 帳戶
          %li.report_link
            %a{id: "projectLink","data-toggle" => "tab", :href => "#projectTab", data: {value: "project"}} 專案
          %li.report_link
            %a{id: "payeeLink","data-toggle" => "tab", :href => "#payeeTab", data: {value: "payee"}} 商家
      .row
        .col-sm-12.report
          #chart_div_line
        .col-sm-6.report
          #piechart
        .col-sm-6.report
          #chart_div
        .col-sm-12.no_data.hide
          %p.text-center
            無資料

      .panel.panel-success
        .panel-heading
          %h3.panel-title 篩選
        .panel-body
          = form_for "report", url: reports_path,html: {id: "report_form"}, :remote => true do |f|
            .checkboxs
              帳戶
              - @payments.each do |payment|
                .checkbox-inline
                  = check_box "payment", payment.hash_key, {:checked => "checked"} 
                  = payment.payment_name
            .checkboxs
              專案
              - @projects.each do |project|
                .checkbox-inline
                  = check_box "project", project.hash_key, {:checked => "checked"} 
                  = project.project_name
            .checkboxs
              商家
              - @payees.each do |payee|
                .checkbox-inline
                  = check_box "payee", payee.hash_key, {:checked => "checked"} 
                  = payee.payee_name
            .checkboxs
              類別
              .radio-inline
                %input#optionsExpenseRadio{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}
                  支出類別
              .radio-inline
                %input#optionsIncomeRadio{:name => "optionsRadios", :type => "radio", :value => "option2"}
                  收入類別
              .category_checkboxs
                - @expense_categories.each do |category|
                  .checkbox-inline
                    = check_box "category", category.hash_key, {:checked => "checked"} 
                    = category.category
            = f.hidden_field "type", value: "category"
            .row
            = f.submit "查詢", class: "btn btn-default"
      
