.row.row-offcanvas.row-offcanvas-right
  = render 'shared/sidebar' if current_user.records.size > 0

  .row
    .col-sm-9
      .panel.panel-info
        .panel-heading
          %h3.panel-title #{t('personal_message')}
        .panel-body
          %ul
            - @messages.each do |m|
              %li
                %span.text-success
                  = m.created_at.strftime("%Y/%m/%d")
                = m.context
                - if m.is_read
                  %span.text-muted
                    = t('read')
                - else
                  %span.text-danger
                    = t('not_read')
          

  